<div class="container w-full p-8 bg-gray-100 ml-8">
    <div class="bg-indigo-500 p-4 text-white font-bold">
        <h1>Mi Primera aplicación SPA</h1>
    </div>
    <div>
        <h2 class="py-6"><span class="font-bold">Nombre del País:</span> Argentina</h2>
        <div class="w-48">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Flag_of_Argentina.svg/1200px-Flag_of_Argentina.svg.png" alt="Bandera">
        </div>
        <h2 class="font-bold py-6">Datos Generales: </h2>
        <p>Argentina es un país situado en el sur de América del Sur. Limitando al norte con Bolivia y Paraguay, al este con Brasil, Uruguay y el océano Atlántico, 
            al sur con el océano Atlántico, al oeste con Chile y al noroeste con Perú. Es el octavo país más extenso del mundo, y el segundo de América del Sur. Buenos Aires es la capital y ciudad más grande del país. Argentina es conocida por su diversidad cultural, su patrimonio histórico, sus paisajes impresionantes, su comida deliciosa, sus vinos y su famosa "música criolla" como el tango. Es también conocida por su industria agropecuaria y su industria de la carne vacuna. El país cuenta con una economía emergente, y es considerado uno de los principales destinos turísticos de América del Sur.
        </p>
    </div>
</div>
