.correct {
    outline: 0;
    border: 1px solid #01f101;
}
.error {
    outline: 0;
    border: 1px solid red;
}
input.correct:focus {
    box-shadow: 0 0 0 0.15rem rgba(115, 173, 27, 0.25);
}
input.error:focus {
    box-shadow: 0 0 0 0.15rem rgba(220, 53, 69, 0.25);
}