<div class="text-center bg-[url('https://picsum.photos/1000/300')] bg-no-repeat bg-cover text-gray-800 py-20 px-6 h-96"></div>
<div class="max-w-screen-xl mt-8 mb-6 sm:mt-10 sm:mb-5 px-6 sm:px-8 lg:px-10 mx-auto">
    <div class="grid grid-flow-row sm:grid-flow-col grid-cols-1 sm:grid-cols-2 gap-8 p  y-8 my-12">
        <div class="flex w-full justify-end">
                <div class="h-full w-full p-4" style="opacity: 1; transform: none;">
                    <img src="https://www.tailwindtoolbox.com/templates/hero.png" alt="">
                </div>
            </div>
        <div>
    <div class="flex flex-col items-start justify-center ml-auto w-full lg:w-9/12" style="opacity: 1; transform: none;">
        <h3 class="text-3xl lg:text-4xl font-medium leading-relaxed text-black-600">Adelanta tus Metas y Sueños</h3>
        <p class="my-2 text-black-500">Da el paso decisivo para un exitoso futuro laboral</p>
        <p class="my-2 text-black-500">Estudia los Cursos Cortos de Certus 100% online y obtén:</p>
        <ul class="max-w-md space-y-1 text-gray-500 list-inside dark:text-gray-400">
            <li class="flex items-center">
                <svg class="w-4 h-4 mr-1.5 text-green-500 dark:text-green-400 flex-shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                Mayor Empleabilidad.
            </li>
            <li class="flex items-center">
                <svg class="w-4 h-4 mr-1.5 text-green-500 dark:text-green-400 flex-shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                Talleres para potenciar tu marca personal.
            </li>
            <li class="flex items-center">
                <svg class="w-4 h-4 mr-1.5 text-green-500 dark:text-green-400 flex-shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                Asesorías para emprendedores
            </li>
        </ul>
        <button type="button" class="mt-3 text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Conoce Más</button>
    </div>
</div>
</div>
</div>
