<div class="container w-full p-8 bg-gray-100 ml-8">
    <div class="bg-indigo-500 p-4 text-white font-bold">
        <h1>Mi Primera aplicación SPA</h1>
    </div>
    <div>
        <h2 class="py-6"><span class="font-bold">Nombre del País:</span> Chile</h2>
        <div class="w-48">
            <img src="https://img.freepik.com/fotos-premium/bandera-nacional-tela-chile-simbolo-pais-internacional-america-sur_113767-1646.jpg?w=360" alt="Bandera">
        </div>
        <h2 class="font-bold py-6">Datos Generales: </h2>
        <p>Chile es un país largo y angosto que se extiende por el borde occidental de Sudamérica, con más de 6,000 km de costa en el océano Pacífico. Santiago, su capital, se ubica en un valle rodeado de los Andes y la cordillera de la Costa. En la Plaza de Armas de la ciudad, bordeada de palmeras, se encuentra la catedral neoclásica y el Museo de Historia Nacional. El enorme Parque Metropolitano cuenta con piscinas, un jardín botánico y un zoológico.
        </p>
    </div>
</div>
