<div class="container w-full p-8 bg-gray-100 ml-8">
    <div class="bg-indigo-500 p-4 text-white font-bold">
        <h1>Mi Primera aplicación SPA</h1>
    </div>
    <div>
        <h2 class="py-6"><span class="font-bold">Nombre del País:</span> Perú</h2>
        <div class="w-48">
            <img src="https://media.istockphoto.com/id/967321126/es/vector/vector-de-bandera-del-per%C3%BA-proporci%C3%B3n-2-3-bandera-bicolor-nacional-peruana.jpg?s=612x612&w=0&k=20&c=vf4cWP08vckY1Yx0ULa0KDcgpHpo69vJD6bodEYX1Ag=" alt="Bandera">
        </div>
        <h2 class="font-bold py-6">Datos Generales: </h2>
        <p>Perú es un país de Sudamérica que abarca una sección del bosque del Amazonas y Machu Picchu, una antigua ciudad inca en las alturas de los Andes. La región en torno a Machu Picchu, incluido el Valle Sagrado, el Camino del Inca y la ciudad colonial de Cuzco, es rica en sitios arqueológicos. 
            El Perú es uno de los países más variados del mundo. Un país multicultural, lleno de tradiciones, una laureada gastronomía y vastas reservas naturales.
        </p>
    </div>
</div>
